/* ===== common css start ===== */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin: 0;
    color: #343a40;
}

ul,
ol,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
    color: #6c7279;
}

a,
a:hover,
a:active,
a:focus,
a:link {
    text-decoration: none !important;
    outline: none;
}

i,
span,
a {
    display: inline-block;
}

img {
    width: 100%;
}

h1 {
    font-size: 55px;

}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

.btn1 {
    border: 0;
    font-weight: 600;
    color: #fff;
    background: transparent;
    text-transform: uppercase;
    padding: 15px 54px;
    border: 2px solid white;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -ms-transition: all linear .5s;
    -o-transition: all linear .5s;
    outline: 0;
}

.btn1:hover {
    background: #fff;
    color: #000;
    border: 2px solid white;
}

.btn2 {
    border: 0;
    font-weight: 600;
    color: #fff;
    background: #e84545;
    text-transform: uppercase;
    padding: 15px 80px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    outline: 0;
}

.btn2:hover {
    background: #3a3e64;
    color: yellowgreen;
}

.section_heading {
    text-align: center;
    font-size: 35px;
    font-weight: 600px;
    position: relative;
}

.section_heading::before {
    position: absolute;
    content: '';
    bottom: -10px;
    left: 50%;
    width: 150px;
    height: 5px;
    transform: translateX(-50%);
    background: red;
}

.section_heading::after {
    position: absolute;
    content: '';
    bottom: -20px;
    left: 50%;
    width: 100px;
    height: 5px;
    transform: translateX(-50%);
    background: red;
}

/* ===== common css ends ===== */
/* ===== Nav css starts ===== */
.navbar .navbar-brand {
    color: yellow;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -ms-transition: all linear .5s;
    -o-transition: all linear .5s;
}

.navbar .navbar-brand:hover {
    color: yellowgreen;
}

button.navbar-toggler {
    outline: 0;
}

.navbar .nav-item .nav-link {
    color: #000;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -ms-transition: all linear .5s;
    -o-transition: all linear .5s;
}

.navbar .nav-item .nav-link:hover {
    color: red;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1.5rem;
}

.navbar .nav-item .nav-link {
    color: #fff;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 500;
    outline: 0;
}

.navbar-toggler-icon {
    font-size: 25px;
    color: red;
}

p {}

.navbar-nav {
    text-align: center;
}

.bg {
    background: #000;
}

/*Nav CSS ends*/
/*Banner CSS starts*/
#banner {
    background: url('../images/header-bg.jpg') no-repeat center/cover;
    padding-top: 200px;
    padding-bottom: 200px;
    position: relative;
    z-index: 1;
    text-align: center;
    /* display: block;*/
}

#banner::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: -1;
}

p {}

#banner p.welcome {
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 40px;
}

#banner h2.name {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 10px;
}

#banner h2.name span {
    color: yellowgreen;
    font-weight: 800;
}

#banner h3 {
    color: #fff;
}

#banner p {
    color: darkgray;
    padding-top: 10px;
    padding-bottom: 40px;
}

/*Banner CSS ends*/
/*About CSS starts*/
#about {
    padding-top: 70px;
    padding-bottom: 60px;
    text-align: left;
}

#about .about_right {
    padding-top: 20px;
    padding-bottom: 20px;
}

#about .about_right h2 span {
    color: yellowgreen;
}

#about .about_right h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

#about .about_right ul.social_media {
    display: flex;
    justify-content: left;
}

#about .about_right ul.social_media {
    margin: 15px;
}

#about .about_right ul.social_media li {
    width: 40px;
    height: 40px;
    border: 2px solid gray;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin: 15px;
}

#about .about_right ul.social_media li:hover {
    border: 2px solid red;
    cursor: pointer;
}

#about .about_right ul.social_media li span {
    font-size: 20px;
    color: #000;
}

#about .about_right ul.social_media li:hover span {
    color: red;

}

#about .about_right {}

/*About CSS ends*/
/*Service CSS starts*/
#service {
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgba(245, 245, 220, 0.5);
}

#service p.sub {
    color: gray;
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
}

#service .service_item {
    padding: 30px 40px;
    border: 1px solid #000;
    text-align: center;
    margin-bottom: 20px;

}

#service .service_item .item1 span {
    font-size: 50px;
    padding-bottom: 20px;
}

#service .service_item .item1 p.title {
    padding-bottom: 20px;
}

#service .service_item h2.main_item {
    position: relative;
}

#service .service_item h2.main_item::before {
    position: absolute;
    content: '';
    bottom: -5px;
    left: 40%;
    width: 50px;
    height: 2px;
    background: red;
    transition: all linear .5s;
}

#service .service_item h2.main_item::after {
    position: absolute;
    content: '';
    bottom: -5px;
    right: 40%;
    width: 50px;
    height: 2px;
    background: red;
    transition: all linear .5s;
}

#service .service_item:hover h2.main_item::before,
#service .service_item:hover h2.main_item::after {
    width: 100px;
}

/*
#service .service_item:hover h2.main_item::after{
    width: 100px;
}*/
#service .service_item p.title {
    padding-top: 20px;
    padding-bottom: 10px;
    line-height: 20px;
}

/*Service CSS ends*/
/*Hire CSS starts*/
#hire {
    padding-top: 100px;
    padding-bottom: 80px;
    text-align: center;
}

#hire .hire_me h2 {
    padding-bottom: 30px;
}

/*Hire CSS ends*/
/*Client CSS starts*/
#client {
    background: rgba(245, 245, 220, 0.5);
    padding-top: 100px;
    padding-bottom: 80px;
    text-align: center;
}

#client p {
    padding-top: 30px;
    padding-bottom: 40px;
}

#client .client_slider .sliding_item span {
    font-size: 40px;
    color: red;
    padding-bottom: 30px;
}

#client .client_slider .sliding_item .img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

#client .client_slider .sliding_item h6 {
    padding-top: 30px;
}

#client .client_slider .sliding_item p.title {
    color: gray;

}

#client .client_slider .slick-dots {
    display: flex;
    justify-content: center;
}

#client .client_slider .slick-dots button {
    text-transform: none;
    font-size: 0;
    border: 0;
    width: 15px;
    height: 5px;
    background: red;
    margin: 5px;
    opacity: .4;
    outline: 0;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -ms-transition: all linear .5s;
    -o-transition: all linear .5s;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

#client .client_slider .slick-dots li.slick-active button {
    width: 20px;
    height: 7px;
    opacity: 1;
}

/*Client CSS ends*/
/*Portfolio CSS starts*/
#portfolio {
    padding-top: 80px;
    padding-bottom: 60px;
    text-align: center;
}

#portfolio .row {
    padding-top: 30px;
}

#portfolio p {
    padding-top: 40px;
    padding-bottom: 20px;
}

#portfolio ul.social_media {
    display: flex;
    justify-content: center;
}

#portfolio ul.social_media li {
    margin-right: 20px;
}

#portfolio ul.social_media li a {
    text-transform: uppercase;
    color: #000;
    font-size: 15px;
    padding: 5px 12px;
    border-radius: 20px;
    transition: all linear .5s;
    border: 2px solid transparent;
}

#portfolio ul.social_media li a:hover {
    background: #f2b31a;

}

#portfolio .portfolio_item {}

#portfolio .portfolio_item .work_img {


    position: relative;
    overflow: hidden;
    transform: scale(1);
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -ms-transition: all linear .5s;
    -o-transition: all linear .5s;
    transform: scale(.9);
}

#portfolio .portfolio_item:hover .work_img {
    transform: scale(1);
    filter: blur(5px);
}

#portfolio .portfolio_item .work_img::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    opacity: 0;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -ms-transition: all linear .5s;
    -o-transition: all linear .5s;
}

#portfolio .portfolio_item:hover .work_img::before {
    opacity: 1;
}

#portfolio .portfolio_item .overlay {
    position: absolute;
    bottom: -150px;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    z-index: 100;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -ms-transition: all linear .5s;
    -o-transition: all linear .5s;
    /* cursor: pointer;*/
}

#portfolio .portfolio_item:hover .overlay {
    transform: scale(1);
    bottom: -20px;
}

#portfolio .portfolio_item .overlay h4 {
    color: #fff;
    text-align: center;
    font-weight: 700;
}

#portfolio .portfolio_item .overlay p {
    color: yellowgreen;
    text-align: center;
}

/*Portfolio CSS ends*/
/*Blog CSS starts*/
#blog {
    padding-top: 80px;
    padding-bottom: 60px;
    text-align: center;
    background: rgba(245, 245, 220, 0.5);
}

#blog p.title {
    padding-top: 40px;
    padding-bottom: 60px;
}

#blog .blog_item {
    text-align: left;
    padding: 10px 10px 30px;
    background: #fff;
}

#blog .blog_item span img {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding-bottom: 15px;
}

#blog .blog_item .item h4 {
    letter-spacing: 2px;
    padding-bottom: 15px;
}

#blog .blog_item p {
    padding-bottom: 15px;
}

#blog .blog_item p a.name {
    color: red;
    font-weight: 600;
}

#blog .blog_item a.read {
    color: gray;
    font-weight: 600;
}

/*Blog CSS ends*/
/*Contact CSS starts*/
#contact {
    padding-top: 80px;
    padding-bottom: 60px;
    text-align: center;
}

#contact p.title {
    padding-top: 30px;
    padding-bottom: 50px;
}

#contact .id {
    text-align: center;
}

#contact .id span {
    font-size: 35px;
    color: red;
    padding-bottom: 20px;
}

#contact .id {
    text-align: center;
}

#contact .id {
    text-align: center;
}

#contact .row .col-lg-4 {
    padding-bottom: 40px;
}

#contact .form-control {
    outline: 0;
}

/*Contact CSS ends*/
/*Footer CSS starts*/
#footer {
    padding-top: 80px;
    padding-bottom: 60px;
    background: #000;
    text-align: center;
}

#footer ul.social_media {
    display: flex;
    justify-content: center;
}

#footer ul.social_media li {
    margin-right: 10px;
}

#footer ul.social_media li span a {
    font-size: 15px;
    outline: none;
    width: 40px;
    height: 40px;
    background: gray;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: yellowgreen;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -ms-transition: all linear .5s;
    -o-transition: all linear .5s;
}

#footer .social_media li:hover a {
    color: #fff;
    background: red;
}

#footer p.subtitle {
    padding-top: 20px;
}

/*Footer CSS ends*/
/*Back2top CSS starts*/
.back2top {
    width: 40px;
    height: 40px;
    background: green;
    text-align: center;
    line-height: 40px;
    position: fixed;
    bottom: 50px;
    right: 30px;
    cursor: pointer;
    z-index: 500;
    display: none;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -ms-transition: all linear .5s;
    -o-transition: all linear .5s;
}

.back2top:hover {
    color: #e84545;
    background: yellowgreen;
}

/*Back2top CSS ends*/
